<!DOCTYPE html>
<html lang="es-cat">
<head>
    <meta charset="utf-8">
        <title>Aplicació de sistemes</title>
        <link rel="stylesheet" href="/static/style.css">
</head>
    <body>
        <header>
            Qui som?
            <a href="../inici">Aplicació</a>
            <a href="../funcionament">Ajuda</a>
        </header>
        <img src="static/quisom.jpg" style="height: 200px; float: left; margin: 0px 10px 10px 0px">
        <i><b style="font-size: 200%">Benvinguts a l'aplicació web EquaGraf</b></i>
        <br>
        <div style="font-size: 120%; margin:10px;">
        <b>Aquesta aplicació ha estat creada per a la realització del treball final de grau d'enginyeria informàtica de l'Universitat de Barcelona.</b>
        <br>
        <b>Autor: Joan Gasull Royes</b>
        <br>
        <b>Directora: Mariella Dimiccoli</b>
        <br>
        <b>Realitzat a: Departament de .... UB</b>
    </body>
</html>

                
         
